In [28]:
import pandas as pd
import os

In [29]:
def import_etl(path):

    name = path.split("/")[-1].split(".")[0]

    df = (pd.read_csv(path, sep=';')
            .rename(columns={"valor":name})
            .set_index(["cod","nome","período"]))
    
    return df

In [30]:
path = "../data/ipea/"
files = os.listdir(path)

In [31]:
dfs = []
for i in files:
    dfs.append(import_etl(path+i))

In [32]:
df_bia = pd.concat(dfs, axis=1).reset_index()
df_bia.to_csv("../data/bia_consolidado.csv", sep=";", index=False)

In [33]:
df_bia

,cod,nome,período,homicidio-de-jovens-por-armas-de-fogo,homicidios-de-homens-por-armas-de-fogo,homicidios-de-jovens-homens,homicidios-de-jovens-mulheres,homicidios-de-jovens,homicidios-de-mulheres-por-armas-de-fogo,homicidios-homens-nao-negros,homicidios-homens-negros,homicidios-homens,homicidios-mulheres-nao-negras,homicidios-mulheres-negras,homicidios-mulheres,homicidios-nao-negros,homicidios-negros,homicidios-por-armas-de-fogo,homicidios
0,53,DF,1989,116.0,177.0,177,8,185.0,5.0,NaN,NaN,308.0,NaN,NaN,23.0,NaN,NaN,182,331.0
1,35,SP,1989,1821.0,2668.0,5186,336,5522.0,154.0,NaN,NaN,8508.0,NaN,NaN,671.0,NaN,NaN,2822,9179.0
2,33,RJ,1989,1722.0,2772.0,2170,140,2310.0,167.0,NaN,NaN,3980.0,NaN,NaN,304.0,NaN,NaN,2942,4290.0
3,32,ES,1989,180.0,361.0,320,29,349.0,29.0,NaN,NaN,763.0,NaN,NaN,75.0,NaN,NaN,395,845.0
4,31,MG,1989,223.0,384.0,479,67,546.0,47.0,NaN,NaN,1047.0,NaN,NaN,168.0,NaN,NaN,432,1216.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,41,PR,1988,NaN,NaN,410,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,455,NaN
1157,42,SC,1988,NaN,NaN,115,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155,NaN
1158,43,RS,1988,NaN,NaN,501,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,510,NaN
1159,50,MS,1988,NaN,NaN,113,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172,NaN
1160,52,GO,1988,NaN,NaN,285,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400,NaN