In [1]:
# 1. Converta a seguinte lista de dados para uma Series Pandas e obtenha: 
# Media
# Desvio Padrão 
# Máximo Valor
# dados = [10, 20, 42, 9, 12, 35, 24, 10, 8, 14, 21]

In [14]:
import pandas as pd

In [3]:
dados = [10, 20, 42, 9, 12, 35, 24, 10, 8, 14, 21]

In [5]:
infos = pd.Series(dados)
infos

0     10
1     20
2     42
3      9
4     12
5     35
6     24
7     10
8      8
9     14
10    21
dtype: int64

In [7]:
infos.mean()

18.636363636363637

In [13]:
infos.std()

11.271847472998623

In [15]:
infos.max()

42

In [ ]:
# 2. Converta o seguinte dicionário para DataFrame e obtenha:
# Súmario de cada coluna
# Média da coluna idade
# Último nome da coluna nome 
# dados = {"nomes":["Teo" , "Nah", "Napoleao"],"idade":[31, 32, 14]}

In [28]:
dados = {
    "nome":["Teo" , "Nah", "Napoleao"],
    "idade":[31, 32, 14]
}

In [30]:
df = pd.DataFrame(dados)
df

       nome  idade
0       Teo     31
1       Nah     32
2  Napoleao     14

In [32]:
df.describe()

           idade
count   3.000000
mean   25.666667
std    10.115994
min    14.000000
25%    22.500000
50%    31.000000
75%    31.500000
max    32.000000

In [34]:
df["nome"].describe()

count       3
unique      3
top       Teo
freq        1
Name: nome, dtype: object

In [36]:
df["idade"].mean()

25.666666666666668

In [38]:
df["nome"].iloc[-1]

'Napoleao'